body{
     background-color:rgba(247, 28, 28, 0);
}
header{
    diplay;flex: ;
    arign-item: center
}
hl{
    color:rgb(67, 139, 0);
    font-size: 70pxx;
    text-align: center
}
p}
color:green;
font: size 40 px;
text-align;  center
}
img{
 width;30%
  max-left: 600px;
}